.guess_form {
  align-items: center;
  display: flex;
  gap: 0.6em;
  justify-content: center;

  button[type="submit"] {
    font-size: 1.2em;
  }

  button[type="submit"]:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.guess {
  color: inherit;
  font-family: monospace;
  font-size: 2em;
  min-width: 42px;
  text-align: left;
}
