.win {
  font-size: 2em;
}

.riddle_value {
  color: red;
  animation-name: colors;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
}

.bear_container {
  align-items: center;
  display: flex;
  font-size: 2em;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.6em;
  height: 100px;

  .happy_bear {
    width: 100px;
    height: 100px;
  }

  .happy_bear__animation {
    position: fixed;
    animation: bear-run 7s linear infinite;
    z-index: -1;
  }
}

.reset_button {
  opacity: 0.5;

  &:hover {
    opacity: 0.9;
  }
}

@keyframes colors {
  0% {
    color: red;
    transform: rotate(-15deg);
  }
  16% {
    color: orange;
  }
  32% {
    color: yellow;
  }
  50% {
    color: green;
    transform: rotate(15deg);
  }
  64% {
    color: blue;
  }
  100% {
    color: violet;
    transform: rotate(-15deg);
  }
}

@keyframes bear-run {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
