.win {
  font-size: 2em;
}

.bear_container {
  align-items: center;
  display: flex;
  font-size: 2em;
  justify-content: center;
  gap: 0.6em;

  .happy_bear {
    width: 100px;
    height: 100px;
  }
}
